__dist__/
dist/
packages/template-assembler-cli/lepus/**/*
packages/lynx-core/__tests__/fixtures/**/*
packages/lynx-core/lepus/**/*
oliver/**/intermediate/*
oliver/**/expected/*
!oliver/**/*.config.js
!oliver/compiler-ng/scripts/*.js
!oliver/lynx-speedy/scripts/*.js
!oliver/speedy-config-preset-env/scripts/*.js
!oliver/testing-utils/__test__/*.js
node_modules/
!oliver/react-runtime/types/*.d.ts
oliver/vscode-extension-languages/tests/**/*

pnpm-lock.yaml
oliver/playground/cli/cases/rebuild-when-the-first-build-fail/index.js
oliver/showcases/expected/
oliver/react-components/third-library/
oliver/eslint-plugin/**/x-element-compat-table.ts
